**/bin/
**/out/
**/.classpath
**/.project
**/.settings
.gradle
**.ipr
**.iml
**.iws
.idea
target
.DS_Store
dependency-reduced-pom.xml
**/overlays
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pike-admin-frontend/npm-debug.log
pike-admin-frontend/node_modules
pike-admin-frontend/.project
pike-admin-frontend/.vscode
pike-admin-frontend/.history
pike-admin-frontend/.DS_Store
pike-admin-frontend/\.settings/
pike-admin-frontend/build/env.js
pike-admin-frontend/dist/
pike-admin-frontend/.idea
